<div>
  <div class="mt-4">

    <div class="build mb-3 pt-4">
      <a target="_blank" href="https://cakeoff.ir/social-network/" class=" text-center build">
        <h1> کیک خود را بسازید</h1>
      </a>

    </div>

    <div>
      <a target="_blank" href="https://cakeoff.ir/social-network/" style="width: 1092px; height: 182px;">
        <img data-x="1" data-y="8" data-wh="12" data-he="2" alt="" title=""
          src="https://cakeoff.ir/files/1/slider/1516036764_666.jpg"
          style="width: 1092px; height: 182px; top: 637px; left: 0px;">
      </a>
    </div>


    <div class="row">

      <div class="col-8 d-inline-block">

        <h5 class="text-right"> : مرتب سازی بر اساس</h5>

        <ul class="list-group list-group-horizontal-md">
          <a href="#" class="list-group-item list-group-item-action active waves-light" mdbWavesEffect>پرفروش‌ترین‌</a>
          <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>پربازدیدترین</a>
          <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>جدیدترین</a>
          <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>ارزان‌ترین</a>
          <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>گران‌ترین</a>
        </ul>

        <!-- Card -->
        <mdb-card class="mt-2">
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>

            </mdb-card-title>

            <!--Text-->
            <mdb-card-text>
              <app-cake-list #productList></app-cake-list>
            </mdb-card-text>

          </mdb-card-body>
        </mdb-card>

        <!-- Card -->
      </div>

      <div class="col-4">
        <app-cake-filters></app-cake-filters>
        <!-- <app-cake-filters [productList]="productList"></app-cake-filters> -->
      </div>

    </div>

  </div>
</div>
