/* .example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
} */

/* .example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
} */
/*
.temp{
  width: 370px;
  height: 370px;
  margin: 12px 35px;
}


.s{
  width: 150px;
  height: 150px;
  margin: 20px;
}

.mat-form-field {
  margin-top: 16px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
} */



#container{
  height: 100%;
  background-image: url("src/assets/5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(107, 59, 25);
}





.mat-tab-group {
  margin: 30px;
  background-color: rgba(240, 232, 194, 0.623);
  border-radius: 30px;
  padding: 20px;
}

.primary{
  width: 60%;
  height: 300px;
  margin: auto;
  background-color: rgba(160, 117, 10, 0.397);
  border-radius: 30px;
  border: black solid 2px;
}



.box{
  background-color: rgba(0, 0, 0, 0.39);
  padding: 25px;
  border-radius: 40px;
}
