<div class="conta">
  <!-- Default form register -->
  <form class="text-center border border-light p-3" [formGroup]="registerForm" (ngSubmit)="onFormSubmit()" >

    <p class="h4 mb-4">ثبت نام</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input type="text" id="defaultRegisterFormFirstName" [formControl]="firstname" class="form-control" placeholder="نام">
      </div>
      <div class="col">
        <!-- Last name -->
        <input type="text" id="defaultRegisterFormLastName" [formControl]="lastname" class="form-control" placeholder="نام خانوادگی">
      </div>
    </div>

    <!-- E-mail -->
    <input type="email" [formControl]="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="ایمیل">

    <!-- Username -->
    <input type="username" [formControl]="username" id="defaultRegisterFormUsername" class="form-control mb-4" placeholder="نام کاربری">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" [formControl]="password" class="form-control" placeholder="رمز عبور"
      aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      حداقل 8 کاراکتر
    </small>

    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" [formControl]="phone" class="form-control mb-5" placeholder="شماره تماس"
      aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <!-- <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
      Optional - for two-step authentication
    </small> -->

    <!-- Newsletter -->
    <div class="row">
      <div class="col-md-6 mx-auto d-flex justify-content-center">
        <mdb-checkbox [default]="true">ارسال خبرنامه سایت</mdb-checkbox>
      </div>
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" >Sign in</button>

    <!-- Social register -->
    <p>یا ثبت نام با : </p>

    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="github"></mdb-icon>
    </a>

    <hr>

    <!-- Terms of service -->
    <!-- <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a></p> -->

  </form>
  <!-- Default form register -->

</div>
