.i{
height: 400px;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-div{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#g_index_top {
  width: 1092px;
  height: 192px;
  margin: 0px auto;
  margin-top: 20px;
  display: inline-block;
}
#g_index_top > div {
  display: table-cell;
  width: 273px;
  height: 190px;
  vertical-align: bottom;
  text-align: center;
}
#g_index_top img {
  width: 125px;
  height: 125px;
}
img {
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
#g_index_top span {
  display: inline-block;
  color: #571845;
  font-size: 14px;
  font-weight: 600;
  border-bottom: solid 6px #571845;
  margin-top: 20px;
  padding-bottom: 10px;
}


#product-popular, #product-bestselling, #product-similar {
  font-size: 25px;
  height: 20px;
  line-height: 20px;
  width: 1092px;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-right: 65px;
  font-weight: bold;
  text-align: right;
}

