<div class="product-grid grid">
  <div class="product-image">
    <a [routerLink]="['cake-details', cakelist.cakeId]">
      <img class="pic-1" [src]="cakelist.primaryImage">
      <img class="pic-2" [src]="cakelist.primaryImage">
    </a>
    <ul class="social">
      <li><a [routerLink]="['cake-details', cakelist.cakeId]" data-tip="Quick View"><i class="fa fa-eye"></i></a>
      </li>
    </ul>
    <!-- <span class="product-new-label">New</span>
            <span class="product-discount-label">-10%</span> -->
  </div>
  <div class="product-content">
    <!-- <span class="product-shipping">product.DepartmentName - product.CategoryName</span> -->
    <h3 class="title">
      <a [routerLink]="['cake-details', cakelist.cakeId]"><strong>
          {{cakelist.name}}
        </strong>
      </a>
    </h3>
    <div class="price">
      <p>${{cakelist.price}}</p>
    </div>

    <div class="row">
      <div class="col-md-6 py-1 px-1">
        <strong>
          {{cakelist.minWeight}}
        </strong>
        <!-- <select class="browser-default custom-select">
          <option [value]="item.AttributeId" *ngFor="let item of product.Color">{{item.AttributeValue}}</option>
        </select> -->
      </div>
      <div class="col-md-6 py-1 px-1">
        <strong>
          حداقل وزن
        </strong>
      </div>

    </div>
